@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.location-address {
  margin-bottom: 3rem;
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 62% 35%;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;
    }

    @include respond(phone) {
      gap: 0;
    }
  }

  &__left {
    background-color: $light-peach-1;
    padding: 5rem;
    border-radius: 2rem;

    @include respond(tab-port) {
      border-radius: 0;
      order: 2;
    }

    @include respond(phone) {
      text-align: center;
      padding: 3rem 1rem;
    }
  }

  &__right {
    background-image: url("../../../assets/locations/desktop/image-map-canada.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;

    @include respond(tab-port) {
      border-radius: 0;
      order: 1;
    }
  }

  &__heading {
    color: $peach;
    font-size: 3rem;
    margin-block: 2rem;
  }

  &__text-container {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__text-container-left {
    width: 40%;

    @include respond(phone) {
      text-align: center;
      width: 100%;
    }
  }

  &__text-container-right {
    @include respond(phone) {
      text-align: center;
      width: 100%;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    border-radius: 2rem;
  }
}

.section2 {
  .location-address__container {
    grid-template-columns: 35% 62%;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  .location-address__left {
    order: 2;
  }

  .location-address__right {
    order: 1;
    background-image: url("../../../assets/locations/desktop/image-map-australia.png");
  }
}

.section3 {
  .location-address__container {
    background-color: inherit;
    .location-address__right {
      background-image: url("../../../assets/locations/desktop/image-map-united-kingdom.png");
    }
  }
}
