@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.location-address {
  &__container {
    display: grid;
    grid-template-columns: 62% 35%;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    background-color: $light-peach-1;
    width: max-content;
    width: 100%;
    height: 100%;
    padding: 5rem;
    border-radius: 2rem;
  }

  &__heading {
    color: $peach;
    font-size: 3rem;
    margin-block: 2rem;
  }

  &__text-container {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
  }

  &__text-container-left {
    width: 40%;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
  }

  &__img {
    width: 100%;
    border-radius: 2rem;
  }
}
