@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.service {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &::before {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 50%;
    transition: all 0.7s;
  }
  &:hover::before {
    background-color: $peach;
  }
  @include respond(desktop) {
    height: 50vh;
  }
  @include respond(tab-port) {
    height: 40vh;
  }
  @include respond(phone) {
    height: 60vh;
  }
}

.webImage {
  background-image: url("../../assets/home/desktop/image-web-design-large.jpg");
  background-size: cover;
}

.appImage {
  background-image: url("../../assets/home/desktop/image-app-design.jpg");
}

.graphicImage {
  background-image: url("../../assets/home/desktop/image-graphic-design.jpg");
}

.heading {
  z-index: 30;
  color: $white;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.par {
  z-index: 30;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.services__arrow {
  color: $peach;
  font-weight: 500;
  font-size: 1rem;
}
