@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.hero {
  &__container {
    background-image: url("../../assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-repeat: repeat;
    background-size: 100%;
    background-position: calc(50% + 25%) center;
    background-color: $peach;
    padding: 5rem;
    border-radius: 1rem;
    color: $white;
    text-align: center;
    @include respond(phone) {
      background-image: none;
      background: linear-gradient(to right, $peach, $light-peach);
      padding-inline: 1rem;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 500;
  }

  &__par {
    font-size: 1.5rem;
    margin-top: 1.7rem;
    width: 50%;
    margin-inline: auto;
    @include respond(phone) {
      font-size: 2.2rem;
      letter-spacing: 1px;
      width: 90%;
    }
  }
}
