@import "../../../styles/variables.scss";

.services {
  padding-top: 10rem;
  padding-bottom: 12rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    column-gap: 3rem;
  }

  &__container-left {
    background-image: url("../../../assets/home/desktop/image-web-design-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    display: grid;
    place-content: center;
    text-align: center;
  }

  &__heading {
    color: $white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__p {
    color: $white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}
