@import "../../styles/mixins.scss";

.services-examples-container {
  padding-top: 13rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 3rem;
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
}
