@import "./mixins.scss";

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding-block: 10rem;
  height: 100%;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
}

.services-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  height: 100%;
}

.services-left {
  height: 100%;
}
