$peach: hsl(11, 73%, 66%);
$light-peach: hsl(11, 100%, 80%);
$black: hsl(270, 3%, 11%);
$dark-gray: hsl(264, 5%, 20%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(210, 17%, 95%);

$dark-gray-1: hsla(256, 11%, 81%, 0.479);

$light-peach-1: hsla(11, 100%, 80%, 0.205);
