@import "../../styles/variables.scss";

.cta {
  &__container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    background-color: $peach;
    padding: 6.5rem;
    border-radius: 1rem;
    align-items: center;
  }

  &__text-container {
    width: 70%;
  }

  &__heading {
    width: 60%;
    color: $white;
    font-size: 3.5rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    line-height: 35px;
  }

  &__p {
    color: $white;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  &__button-container {
    padding-left: 5rem;
  }
}
