@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.cta {
  transform: translateY(-50%);
  margin-top: 20rem;
  @include respond(phone) {
    margin-top: 25rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    background-color: $peach;
    padding: 4rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    @include respond(desktop) {
      padding: 6.5rem;
    }
    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__text-container {
    width: 70%;
    @include respond(desktop) {
      width: 70%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__heading {
    width: 60%;
    color: $white;
    font-size: 3.5rem;
    font-weight: 500;
    padding-bottom: 1.9rem;
    line-height: 35px;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__p {
    color: $white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__btn-container {
    margin-inline: auto;
  }
}
