@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.contact {
  margin-bottom: 10rem;

  &__container {
    display: flex;
    columns: 2 25rem;
    column-gap: 4rem;
    align-items: center;
    background-color: $peach;
    padding: 4rem 5rem;
    border-radius: 1rem;
  }
  &__left {
    color: $white;
  }

  &__heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &__p {
    font-size: 1.5rem;
  }

  input {
    width: 100%;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding-left: 1rem;
    border-bottom: 1px solid $white;
    margin-bottom: 5rem;
    padding-bottom: 1rem;

    &::placeholder {
      color: $light-peach;
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}
