@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.footer {
  background-color: $black;
  &__container {
    padding-bottom: 7rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid $dark-gray;
    @include respond(phone) {
      flex-direction: column;
      row-gap: 5rem;
    }
  }

  &__logo {
    width: 22rem;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 3rem;
    @include respond(phone) {
      flex-wrap: wrap;
    }
  }

  &__link {
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    margin-top: 3rem;
    line-height: 1.8;
    align-items: flex-start;

    p {
      color: $dark-gray-1;
      font-size: 1.5rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      font-size: 3rem;
      color: $peach;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: $white;
      }
    }
  }
}
