@import "../../styles/variables.scss";
@import "../../styles/variables.scss";

.services-example-item {
  &:hover {
    cursor: pointer;
    background-color: $peach;
  }

  &__image {
    border-top-left-radius: 1rem;
  }

  &__body-container {
    text-align: center;
  }

  &__heading {
    color: $peach;
    font-size: 2.5rem;
    font-weight: 500;
    padding-block: 2.5rem;
    letter-spacing: 4px;
  }

  &__par {
    font-size: 1.8rem;
    width: 80%;
    margin-inline: auto;
    color: $black;
    padding-bottom: 3rem;
  }
}
