@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.services-example-item {
  border-radius: 2rem;
  overflow: hidden;
  background-color: $light-peach-1;
  cursor: pointer;
  transition: all 0.5s ease;
  @include respond(tab-port) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &:hover {
    background-color: $peach;
    color: $white;
  }

  &__body-container {
    text-align: center;
  }

  &__heading {
    color: $peach;
    font-size: 2.5rem;
    font-weight: 500;
    padding-block: 2.5rem;
    letter-spacing: 4px;
  }

  &__par {
    font-size: 1.8rem;
    width: 80%;
    margin-inline: auto;
    color: $black;
    padding-bottom: 3rem;
  }

  &:hover h2 {
    color: $white;
  }
  &:hover p {
    color: $white;
  }
}
